<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  </head>
  <body>
    <header>
      <a href="{{ site.baseurl }}/" class="title">{{ site.title | escape }}</a>
    </header>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <footer>
      <p>
        {{ site.url }}
        <hr>
        {{ site.baseurl }}
        <a href="{{ "/about" | prepend: site.baseurl }}">About</a>
        &#9733;
        <a href="{{ "/contact" | prepend: site.baseurl }}">Contact</a>
        &#9733;
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS Feed</a>
      </p>
    </footer>
  </body>
</html>
